* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-import {
    height: 200px;
    margin-left: 120px;
    margin-bottom: 20px;
}

.imagem-rb-imports {
    height: 250px;
}

/* Estilos do Body */
html, body {
    height: 100%; /* Faz com que o HTML e o Body ocupem toda a altura da tela */
}

body {
    display: flex; /* Define o body como um contêiner flexível */
    flex-direction: column; /* Organiza os filhos em coluna */
}

/* Estilo do Main */
main {
    flex-grow: 1; /* Faz com que o main ocupe todo o espaço disponível */
}

.caixa-videos {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;

}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 30px;
    width: 100%;
    background-color: rgba(10, 12, 16, 0.7); /* Ajuste conforme necessário */
    font-family: 'Montserrat', sans-serif;
}

.header img {
    height: 60px;
}

.header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;   
}

.header a:hover {
    color: #969191;
    font-size: 26px;
    transition: 0.5s ease-in-out;

}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 0.3s ease-in-out; /* Adicionando transição para a visibilidade */
}

.logo-text{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  text-align: center;
  margin-top: 100px; 
}
.about-text {
    font-family: 'Montserrat', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #8d4a26;
    font-weight: 600;
}

.about h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: 600;
    }

.about p {
font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}

.fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.fotos img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.clientes {
  max-width: 90%; /* Largura máxima do container */
  margin: auto; /* Centraliza o container */
  display: flex; /* Usamos flexbox para organizar as imagens em linha */
  flex-wrap: wrap; /* Faz com que as imagens quebrem para a linha de baixo se não houver espaço */
  justify-content: center; /* Centraliza as imagens dentro do container */
}

.clientes img {
  width: 150px; /* Largura fixa para as imagens */
  height: 150px; /* Altura fixa para as imagens */
  object-fit: cover; /* Corta a imagem para caber no espaço definido, mantendo a proporção */
  margin: 10px; /* Espaçamento entre as imagens */
  border-radius: 8px; /* Adiciona cantos arredondados para um visual mais agradável */
}

/* Estilos Gerais */
p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
}

/* Títulos da Seção logo footer */
.logo-footer h1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
    color: #8f8f8f;
    margin-bottom: 1rem; /* Ajuste no espaçamento */
}

/* Títulos da Seção de Contato */
.contato h2 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    color: #8f8f8f;
    margin-bottom: 1rem; /* Ajuste no espaçamento */
}

/* Footer */
.footer-content {
    display: flex;
    align-items: center;
    color: #8f8f8f;
    padding: 2rem 1rem; /* Reduzindo o padding */
    margin-bottom: 4rem; /* Espaço abaixo do footer */
}

.download-options > * {
    margin: 1rem;
}

.download-options > p:first-child {
    font-weight: bold;
    color: #fff;
}

.download-options > div {
    display: flex;
}

.download-options > div img {
    width: 100px;
}

/* Logo do Footer */
.logo-footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #8f8f8f;
    margin-bottom: 0.9rem;
}

/* Links do Footer */
.links-footer h3 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-bottom: 0.9rem;
}

.links-footer ul li {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.0rem; /* Ajuste no espaçamento */
    cursor: pointer;
}

/* Social Media */
.social-media {
    display: flex; /* Usar flexbox para alinhamento horizontal */
    justify-content: center; /* Centraliza os ícones horizontalmente */
    margin-top: auto; /* Adiciona um espaço acima dos ícones */
    margin-left: auto; /* Margem esquerda automática para centralizar */
    margin-right: auto; /* Margem direita automática para centralizar */
}

.social-media img {
    height: 40px; /* Ajustar a altura dos ícones */
    margin: 0 10px; /* Espaço entre os ícones */
    transition: transform 0.3s; /* Transição para efeito hover */
}

.social-media img:hover {
    transform: scale(1.1); /* Efeito de aumentar ao passar o mouse */
}

/* Contato Container */
.contato-container {
    font-family: 'Montserrat', sans-serif;
    display: flex; /* Usar flexbox para alinhar itens lado a lado */
    justify-content: space-between; /* Espaço entre os dois grupos */
    align-items: center; /* Alinhamento vertical */
    margin-top: 10px; /* Espaço acima do container */
    max-width: 1200px; /* Defina uma largura máxima se necessário */
    margin-left: auto; /* Margem esquerda automática para centralizar */
    margin-right: auto; /* Margem direita automática para centralizar */
}

/* Links Úteis */
.links-uteis {
    font-family: 'Montserrat', sans-serif;
    text-align: left; /* Alinha o texto à esquerda */
    color: #fff; /* Cor do texto, link Principal */
    margin-bottom: 0.9rem; /* Espaço entre link principal e os links */
}

.links-uteis ul {
    color: #8f8f8f; /* Cor dos links */
    list-style: none; /* Remove estilos de lista padrão */
    padding: 0; /* Remove o padding padrão */
}

.links-uteis ul li {
    margin-bottom: 0.5rem; /* Ajuste no espaçamento */
}

/* Copyright */
.copyright {
    color: #fff;
    padding: 1rem 0; /* Reduzindo o padding */
    text-align: center;
    margin-top: 1rem; /* Espaço acima do copyright */
    font-size: 6px;
    margin-bottom: -7rem; /* Espaço abaixo do copyright */
}

/* Media Queries */
@media (max-width: 800px) {
    .footer-content{
        display: inline;
        font-size: 0.8rem;
        }

        .footer-content>div {
            padding: 1rem;
        }

    .download-options>div {
        display: inline;
    }

    .download-options>div img {
        width: 120px;
    }

    .copyright {
        font-size: 0.8rem;

    }
}

@media (max-width: 480px) {
    .links-footer ul {
    list-style: none;
    }

}

@media (max-width: 800px) {
    .header {
        flex-direction: column; /* Alinha os itens verticalmente em telas menores */
    }

    .header a {
        font-size: 20px; /* Reduz o tamanho da fonte dos links */
    }

    .about h1 {
        font-size: 3rem; /* Reduz o tamanho do título */
    }

    .about p {
        font-size: 1em; /* Reduz o tamanho do texto */
    }

    .fotos img, .clientes img {
        max-width: 100%; /* Permite que as imagens ocupem 100% do espaço disponível */
    }
}

@media (max-width: 480px) {
    .links-footer ul {
        list-style: none;
    }

    .footer-content {
        flex-direction: column; /* Alinha o conteúdo do footer verticalmente */
    }
}





/* media carry 

max -> Valor menor que npx, aplica o css no MEDIA
min -> Valor maior que npx, aplica o css no MEDIA

*/